
.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

.fallback h2{
	color: #8F8149;
	font-size: 2rem;
}

.fallback p{
	font-size: 1rem;
	color: #8F8419;
}

.articolo-1 .fallback {
	text-align: center;
}

.fallback .fallback-btn{
    background-color: #8F8149;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 16px;
	cursor: pointer;
	margin-top: 10px;

}
.zoom img {
       height: 300px;
       width: 300px;
       -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
       -ms-transition: all 1s ease;
       transition: all 1s ease;
 }
 .zoom img:hover {
       width: 400px;
       height: 400px;
 } 


.color img {
       -webkit-filter: grayscale(100%);
       -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
       -ms-transition: all 1s ease;
       transition: all 1s ease;
 }
 .color img:hover {
       -webkit-filter: grayscale(0%);
 } 





* {
    margin: 0;
    padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
	box-sizing: border-box;
}

#logo80ks{
	display: inline;
}


html {
		font-size: 18px;
		font-family: 'Roboto', sans-serif;
	
}
.nav-container{
    position: fixed;
    top: 0;
    background: black;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
	z-index: 1400;
}

.menu-web{
		display: inline-flex;
		padding: 0 10px;
}

.logo-bar{
    height: 2.5rem;
    display: none;
}

.dropdown-list a {
    font-size: 0.9rem;
    text-decoration: none;
    display: inline-block;
    line-height: 2.5rem;
    padding: 0 20px;
    color: darkgray;
	transition: all .3s ease;
}

.dropdown-list a:hover {
    color: #8F8149;
}

.buttonX {
    display: none;
}

.logo80ks {
    margin-top: 6px;
}

.attivo {
	color: #8F8149 !important;
}

.divisore{
	width: 100%;
	height: 6.5rem;
}
.divisore1{
	width: 100%;
	height: 4rem;
}

.spettacolo-nero{
	background-color: black;
}

.spettacolo-bianco{
	background-color: white;
	}

#submenu {
	position:fixed;
	margin-top: 2.5rem;
	background-color: lightgray;
	height: 4rem;
	width: 100%;
	z-index: 1;
}

.submenuNav {
	display: flex;
	justify-content: center;
}
.submenuItem{
	text-align: center;
	padding: 0 20px;
	margin-top: 7px;
}

.submenuNav a, p {
	color: black;
	text-decoration: none;
	font-size: 0.9rem;
}

.submenuNav a p:hover {
	color: #8F8149;
}

.articolo-1 {
	width: 100%;
	margin-top: 4rem;
	padding-bottom: 2rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
	

.spettacolo-card{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5rem;
}

.spettacolo-img{
	width: 45%;
	height: 40rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 50px;
    overflow: hidden;
	
}

.spettacolo-img-sx{
	width: 45%;
	height: 40rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 50px;
    overflow: hidden;
	
}
.shows_img{
	width: 250px;
	height: 250px;
}

.spettacolo-desc{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 10px;
	color: white;

}

.spettacolo-desc-sx{
	width: 55%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding-right: 10px;
	color: black;
	text-align: right;

}

.spettacolo-desc-sx h1, .spettacolo-desc h1{
	font-size: 50px;
}

.spettacolo-desc-sx h3, .spettacolo-desc h3{
	font-size: 25px;
}



.wa-btn{
    background-color: green !important;
}

.button {
    background-color: #1108E0;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
	margin-top: 20px;
}

.spettacolo-solo {
	width: 100%;
	margin-top: 2.5rem;
	padding-bottom: 2rem;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.articolo-1 .logoindex img{
    max-width:  25%;
}

.articolo-1 .logoindex {
    text-align: center;
}

.spettacolo-foto{
    width: 100%;
    margin-top: 1.5rem;
	text-align: center;
}



.spettacolo-foto img{
	width: 40%;
}
.spettacolo-testo{
	margin-top: 1.7rem;
	width: 80%;
	
}

.spettacolo-testo p{
	color: white;
	text-align: justify;
	font-size: 1.2rem;
}


/*----------- Slider start ------------*/

/*
-----VECCHIO-------
#slider{
	overflow: hidden;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img{
	float: left;
	width: 20%;
}

@keyframes slider{
	0% {
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}
#slider{
	margin-top: 2rem;
	width: 80%;
}
------VECCHIO------
*/
.slider {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 2rem;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
    
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
}

.navigation-manual{
    position: absolute;
    width: 80%;
    margin-top: -2.7%;
    display: flex;
    justify-content: center;
    
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}
.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 51%;
}

.navigation-auto div{
    border: 0px solid white;
    padding: 7px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}




/*----------- Slider end ------------*/




.dance_foto{
	margin-top: 1.5rem;
	width: 100%;
	text-align: center;
	
}
.dance_foto img{
	width: 80%;
	
}

.dance32_video{
	margin-top: 2rem;
}

.titoletto{
	color: yellow;
	text-align: center;
	margin-top: 22px;
	padding-bottom: 10px;
	font-size: 1.5rem;
}

.bottoni{
	text-align: center;
}

.bacheca{
	margin-top: 1rem;
	text-align: center;
	padding: 0 4rem;
	background-color: antiquewhite;
	padding-bottom: 10rem;
}


@media only screen and (min-width: 761px){
      
    .hamburger-end {
        display: none;
    }
    .nav-container{
        justify-content: center;
    }

	.btn-hidden{
		display: none;
	}
	
}

@media only screen and (max-width: 760px){
	

    .hamburger-end{
		visibility: hidden;
    }

    .dropdown{
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    overflow-y: hidden;
    transition: 0.5s;
    opacity: 0.9;
	z-index: 2000;
}

.dropdown-list{
    position: relative;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    margin-top: -10px;
}

.dropdown a{
    padding-left: 8px;
    line-height: 3rem;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.dropdown a:hover, .dropdown a:focus {
    color: #8F8149;
}

.hamburger {
    color: white;
    margin-left: 10px;
    line-height: 2.5rem;
    font-size: 37px;
    cursor: pointer;
	
}
    
    
.dropdown .buttonX {
    line-height: 2.5rem;
    font-size: 30px;
    color: white;
}

.wrapper{
	max-height: 4.8rem;
	display: flex;
	overflow-x: auto;
	justify-content: flex-start;
}

	.wrapper::-webkit-scrollbar{
	width: 0px;
}
	.wrapper .wrapperItem{
	min-width: 120px;
}
	.submenuNav a, p {
	font-size: 0.9rem;
}
	.submenuItem{
	padding: 0 4px;
	width: 100%;

	}
	
	.spettacolo-card, .spettacolo-card-reverse{
	display: flex;
	justify-content: center;
	padding: 0;
	
	}
	
	.spettacolo-img-sx, .spettacolo-img{
	width: 100%;
	height: 14rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	
}
.shows_img{
	width: 200px;
	height: 200px;
}

.spettacolo-desc-sx, .spettacolo-desc{
	align-items: center;
	padding: 0px;
	width: 100%;
}

.spettacolo-desc-sx h1, .spettacolo-desc h1{
	text-align: center;
	font-size: 40px;
	padding: 0;
}

.spettacolo-desc-sx h3, .spettacolo-desc h3{
	text-align: center;
	font-size: 22px;
	padding: 0;
}



.button {
	margin-bottom: 20px;
}

.spettacolo-card-reverse{
	flex-direction: column-reverse;	
	}
	
	.bottoni{
		display: flex;
		flex-direction: column;
		margin-top: 0.5rem;
	}
	.bottoni button{
		margin: 0.2rem 0;
	}
	
	.color img {
       -webkit-filter: none;
       -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
       -ms-transition: all 1s ease;
       transition: all 1s ease;
 }
 .color img:hover {
       -webkit-filter: grayscale(0%);
 } 
	
/*.logo-bar{
    height: 2.5rem;
    display: inline-block;
}	*/
	
.logoindex img {
    min-width: 31vw;
}
    .zoom img {
       height: 200px;
       width: 200px;
       -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
       -ms-transition: all 1s ease;
       transition: none;
 }
 .zoom img:hover {
       width: 200px;
       height: 200px;
 } 
.navigation-auto div{
        margin-top: 2px;
}

    
}


